body{
  background-color: beige;
}


.App {
  text-align: center;
  
}

.Footer{
  display: block;
  clear: both;
  background-color: darkgray;
  position: center;
  color: black;
  text-align: center;
  border-radius: 10px;
  width: 90%;
  height: 20px;
  margin-top: 40px;
  margin-left: 50px;
  margin-bottom: 30px;
  margin-right: 5px;
 


 
 
}